@media screen and (min-width: 320px) {
  .div {
    padding-top: 22px;
    padding-bottom: 104px;
    padding-left: 22px;
    padding-right: 22px;
  }
  .padding {
    margin-top: 62px;
  }
  .mainText {
    width: 241px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.35;
  }
  .secondaryText {
    width: 280px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.23;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  .div {
    padding-top: 28px;
    padding-bottom: 378px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .padding {
    margin-top: 325px;
  }
  .mainText {
    width: 523px;
    font-weight: 600;
    font-size: 55px;
    line-height: 1.36;
  }
  .secondaryText {
    width: 523px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    color: white;
  }
}

@media screen and (min-width: 1360px) {
  .div {
    padding-top: 32px;
    padding-bottom: 270px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .padding {
    margin-top: 192px;
  }
  .mainText {
    width: 523px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 55px;
    line-height: 1.36;

    text-align: center;
  }
  .secondaryText {
    width: 799px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.35;
    color: white;
  }
}
.div {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../images/images/home/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}
.mainText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  margin-bottom: 16px;
}
.secondaryText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  margin-bottom: 24px;
}
.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  padding: 16px 32px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  border: none;
}
