@media screen and (min-width: 320px) {
  .div {
    display: flex;
    flex-direction: column;
  }
  .padding {
    padding-top: 56px;
    padding-bottom: 40px;
    padding-left: 22px;
    padding-right: 22px;
  }
  .ul {
    gap: 8px;
  }
  .preH2 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
  }
  .h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 1.375;
  }
  .postH2 {
    margin-bottom: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
  }
}
@media screen and (min-width: 768px) {
  .div {
    flex-direction: row;
  }
  .padding {
    padding-top: 48px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
  .preH2 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
  }
  .h2 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.35;
  }
  .postH2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1360px) {
  .padding {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .preH2 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.83;
  }
  .h2 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.2;
  }
  .postH2 {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
  }
  .ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }
}

.div {
  display: flex;
  background-color: #ffffff;
}
.preH2 {
  text-align: center;
  color: #333333;
}
.h2 {
  text-align: center;
  color: #333333;
}
.postH2 {
  text-align: center;
  color: #333333;
}
.ul {
  display: grid;
}
