@media screen and (min-width: 320px) {
  .div {
    display: flex;
    flex-direction: column;
  }
  .padding {
    padding-top: 48px;
    padding-bottom: 58px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media screen and (min-width: 768px) {
  .div {
    flex-direction: row-reverse;
  }
  .padding {
    padding-top: 59px;
    padding-bottom: 59px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .img {
    width: 368px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1360px) {
  .padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.div {
  background-color: #0284d0;
}

.preH2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #ffffff;
  margin-bottom: 16px;
}
.h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.375;
  color: white;
  margin-bottom: 24px;
}
.postH2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #ffffff;
  margin-bottom: 24px;
}
.btn {
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
}
