@media screen and (min-width: 320px) {
  .div {
    display: flex;
    flex-direction: column;
  }
  .padding {
    padding-top: 51px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
  }
  .input {
    width: 264px;
    font-size: 16px;
    line-height: 1.43;
  }
  .h2 {
    margin-bottom: 69px;
    font-size: 32px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .div {
    flex-direction: row;
    justify-content: center;
  }
  .padding {
    width: 336px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .img {
    width: 368px;
    object-fit: cover;
    height: 100%;
  }
  .input {
    width: 320px;
    font-size: 18px;
    line-height: 1.38;
  }
  .h2 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.35;
  }
}

@media screen and (min-width: 1360px) {
  .padding {
    width: 634px;
    padding-top: 56px;
    padding-bottom: 77px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .img {
    width: 670px;
    object-fit: cover;
  }
  .input {
    width: 626px;
    font-size: 18px;
    line-height: 1.38;
  }
  .h2 {
    margin-bottom: 31px;
    font-size: 40px;
    line-height: 1.35;
  }
}
.div {
  background-color: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
}

.h2 {
  font-weight: 400;
  color: #333333;
}
.labelUserName {
  position: relative;
}
.labelUserEmail {
  position: relative;
}
.errorMessage {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  font-size: 10px;
  color: red;
}
.plf {
  position: absolute;
  height: 100%;
  top: 20px;
  left: 10px;
  transition: var(--main-transition);
}
.input:focus ~ .plf {
  font-size: 12px;
  top: -15px;
  left: 5px;
}
.input:not(:placeholder-shown) ~ .plf {
  font-size: 12px;
  top: -15px;
  left: 5px;
}
.input {
  padding: 16px 8px;
  border: none;
  outline: none;
  position: relative;
}
.form label:not(:last-of-type) {
  margin-bottom: 16px;
}
.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 112px;
  margin-top: 24px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 16px 56px;
  transition: var(--main-transition);
  font-size: 18px;
  line-height: 1.38;
}
.btn:hover,
.btn:focus {
  background-color: #2ebf4f;
}
